.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
gitpush.sh
bin/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
temp/
resource/log/
#resource/public/
logs/
upload/product_icon/
manifest/config/config.yaml
manifest/docker-compose/emqx/
manifest/docker-compose/mysql/data
manifest/docker-compose/redis/data
extend/log/